.content-agendamento{
    background-color: var(--cor-conteiner);
    padding: 25px;
    margin-top: 50px;
    height: 720px;
    width: 633px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-agendamento > p {
    color: var(--font-cor-primaria);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.icon-group {
    position: relative;
    width: 493px;
    margin-top: 9px; 
}

/* input */
.icon-group input {
    width: 493px;
    height: 57px;
    padding: 15px 10px 15px 50px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

/* ícone */
.icon-group .icon {
    position: absolute;
    left: 15px;
    top: 50%; /* centraliza com o input */
    transform: translateY(-50%); /* fica centralizado verticalmente */
}

/* Placeholder */
.form-group input::placeholder {
    color: var(--cor-placeholder);
    opacity: 0.5;
}

