.content-agendamento{
    background-color: var(--cor-conteiner);
    padding: 25px;
    margin-top: 50px;
    height: 633px;
    width: 720px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content-agendamento > h4 {
    color: var(--font-cor-primaria);
    font-weight: var(--font-weight-bold);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.icon-group {
    position: relative;
    width: 493px;
    margin-top: 9px; 
}

/* input */
.icon-group input {
    width: 493px;
    height: 57px;
    padding: 15px 10px 15px 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    background: var(--cor-inputs);
}

/* ícone */
.icon-group .icon {
    position: absolute;
    left: 15px;
    top: 50%; /* centraliza com o input */
    transform: translateY(-50%); /* fica centralizado verticalmente */
}

/* Placeholder */
.form-group input::placeholder {
    font-family: var(--font-family);
    color: var(--cor-placeholder);
    opacity: 0.5;
}

/* Input para seleção de serviços */
.input-select {
    width: 493px;
    height: 57px;
    padding: 15px 10px 15px 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    appearance: none; /* remove icone padrão */
    outline: none;
}

.campo-select {
    width: 493px;
    height: 57px;
    background: var(--cor-inputs);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 9px;
    border: 1px solid #ccc;
}

/* ícone da seta */
.icon-seta {
    position: absolute;
    left: 460px;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none; /* para que o clique no ícone e ative o select */
}

/* textos a direita */
.label {
    font-family: var(--font-family);
    position: absolute;
    left: 50px;
    color: var(--cor-placeholder);
    opacity: 0.5;
}

/* select */
.campo-select select {
    width: 493px;
    height: 57px;
    padding-left: 100px; /* espaço pro ícone e texto */
    padding-right: 40px;
    border: none;
    background: transparent;
    appearance: none;
    outline: none;
    color: var(--cor-placeholder);
    opacity: 0.5;
    font-family: var(--font-family);
}

/* input data e horario igual select */
.campo-select input {
    width: 493px;
    height: 57px;
    padding-left: 100px; /* espaço pro ícone e texto */
    padding-right: 40px;
    border: none;
    background: transparent;
    appearance: none;
    outline: none;
    color: var(--cor-placeholder);
    opacity: 0.5;
    font-family: var(--font-family);
}

/* remove estilo padrão de date e time */
.campo-select input[type="date"],
.campo-select input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
}

/* remove ícones padrão do navegador */
/* icone de calendario e relogio */
    input[type="date"]::-webkit-calendar-picker-indicator, 
    input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 493px;
    height: 57px;
    cursor: pointer;
}

.paragrafo-agend{
    text-align: center;
    margin-top: 30px;
    color: var(--cor-placeholder);
}

button {
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 8px;             
    background: var(--cor-button);
    margin: 0 auto;
    margin-top: 18px;
    border: none;
    font-family: var(--font-family);
    color: var(--font-cor-segundaria);
    font-weight: var(--font-weight-bold);
    border-radius: 40px;
    width: 267px;
    height: 44px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* efeito hover */
button:hover {
    background: var(--cor-button-hover);
}

/* efeito ao clicar */
button:active {
    transform: scale(0.98);
}