.main-estoque{
  width:100%;
  display:block;
}

.dashboard {
    width: 100%;
    max-width: 1100px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
    gap: 24px;
}

/* CARDS */

.card {
    background: #b9d0cd;
    border-radius: 16px;
    padding: 22px;
    display: flex;
    flex-direction: column;
}

/* CARD ESQUERDO */

/* --- CARD ESQUERDO (Quantidade de Produtos) --- */
.stock-card .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.title {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #2f5d64;
    margin-bottom: 20px;
}


/* DONUT */

.chart{
  width:220px;
  height:220px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.donut{
  width:200px;
  height:200px;
  border-radius:50%;
  background:
  conic-gradient(
    #375d64 0deg 60deg,
    #4d737a 60deg 145deg,
    #658f95 145deg 220deg,
    #8bb7b1 220deg 275deg,
    #bccdcd 275deg 330deg,
    #dce9df 330deg 360deg
  );
  position:relative;
}

.donut::before{
  content:'';
  position:absolute;
  width:78px;
  height:78px;
  background:#b9d0cd;
  border-radius:50%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
}

.center span{
  font-size:18px;
  font-weight:700;
  color:#3b5f65;
}

/* LEGENDA */

.legend{
  width:185px;
  display:flex;
  flex-direction:column;
  gap:13px;
  margin-right:8px;
  margin-top:-5px;
}

.legend-item{
  display:flex;
  align-items:center;
  gap:14px;
}

.legend-item p{
  font-size:14px;
  color:#496f74;
  font-weight:500;
}

.dot{
  width:14px;
  height:14px;
  border-radius:3px;
  flex-shrink:0;
}

.dot1{ background:#375d64; }
.dot2{ background:#4d737a; }
.dot3{ background:#658f95; }
.dot4{ background:#8bb7b1; }
.dot5{ background:#bccdcd; }
.dot6{ background:#dce9df; }

/* CARD DIREITO */

.alert-card{
  width:100%;
  max-width: 350px;
  padding:22px;
  min-height:300px;
  position:relative;
}


.alerts{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:22px;
  margin-top:14px;
}

.alert-box{
  background:#ddd69d;
  border-radius:12px;
  padding:18px 16px;
  display:flex;
  align-items:flex-start;
  gap:12px;
  max-width:264px;
  min-height:84px;
}

.icon{
  font-size:22px;
  color:#8b7428;
  margin-top:-2px;
}

.alert-text h3{
  font-size:14px;
  line-height:1.35;
  font-weight:500;
  color:#42686e;
  margin-bottom:8px;
}

.alert-text p{
  font-size:12px;
  color:#54797e;
  font-weight:500;
}

/* SCROLL */

.scroll-bar{
  position:absolute;
  top:14px;
  right:0;
  width:4px;
  height:128px;
  background:#6ea59d;
  border-radius:20px;
}

.content {
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:20px;
  margin-top:20px;
}


.dashboard-content{
  width:100%;
  display:flex;
  justify-content:center;
}

.estoque{
  width: 100%;
  max-width:1100px;
  margin:30px auto;
  border-radius:30px;
  overflow:hidden;
  background: #bfd5d3;

  background-size:cover;
  background-position:center;

  border:none;
  box-shadow:none;
}

.topo{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 24px 14px 24px;
}

.titulo-box{
  display:flex;
  align-items:center;
  gap:16px;
}

h1{
  font-size:42px;
  color:#2f5f66;
  font-weight:700;
}

.icone{
  width:34px;
  height:34px;
  position:relative;
}


.ver-mais{
  display:flex;
  align-items:center;
  gap:14px;
  color:#2d6268;
  font-size:18px;
  font-weight:600;
}

.seta{
  width:34px;
  height:34px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:16px;
}

.linha{
  width:100%;
  height:1px;
  background:#cfdedd;
}

.busca-box{
  margin:16px;
  height:46px;
  background:#bfe0d8;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 18px;
}

.busca-box input{
  width:100%;
  border:none;
  outline:none;
  background:transparent;
  font-size:18px;
  color:#36656b;
  font-family:'Poppins',sans-serif;
}

.busca-box input::placeholder{
  color:#36656b;
}

.search-icon{
  font-size:26px;
}

.filtros{
  display:flex;
  justify-content:space-between;
  gap:20px;
  padding:0 16px 16px 16px;
}

.select{
  width:100%;
  height:50px;
  background:#bfe0d8;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  color:#3b6870;
  font-size:18px;
  font-weight:500;
}

/* TEXTO */
.label_estoque_selecao{
  font-size:18px;
  font-weight:500;
  color:#3b6870;
  white-space:nowrap;
}

/* SELECT */
.select_estoque{
  width:180px;
  height:34px;
  border:none;
  outline:none;
  border-radius:6px;
  background:#bfe0d8;
  color:#3b6870;
  font-size:15px;
  font-weight:500;
  padding:0 10px;
  cursor:pointer;
}


table{
  width:100%;
  border-collapse:collapse;
  color:#3c6770;
}

thead{
  background:#bfe0d8;
}

thead th{
  padding:18px 10px;
  font-size:18px;
  font-weight:700;
  text-align:center;
  border-top:1px solid #9bbeb9;
  border-bottom:1px solid #9bbeb9;
}

tbody tr{
  height:60px;
}

tbody td{
  padding:14px 12px;
  font-size:18px;
  text-align:center;
  border-bottom:1px solid #b8cfcb;
}

tbody tr:last-child td{
  border-bottom:none;
}

.bold{
  font-weight:700;
}

.entrada{
  background:#d8e9c9;
  color:#2f6670;
  font-weight:700;
}

.saida{
  font-weight:700;
}

.ok{
  color:#10b76d;
}

.alerta{
  background:#eadf9f;
  color:#395d63;
}

tbody td:first-child{
  width:290px;
}

tbody td:nth-child(2){
  width:300px;
}

tbody td:nth-child(3){
  width:180px;
}

tbody td:nth-child(4){
  width:150px;
}

tbody td:nth-child(5){
  width:150px;
} 