/* Tablet responsivo */
@media (max-width: 1280px){

    /* main principal */
    .login_main{
        flex-direction: column;
        gap: 30px;
    }

    /* logo grande ao lado de content_login */
    .logo_login{
        max-width: 220px;
    }

    /* container de formulário principal do login */
    .content_login{
        width: 90%;
        max-width: 650px;
    }
}

/* Mobile responsivo */
@media (max-width: 767px){

    /* main principal */
    .login_main{
        padding: 15px;
        gap: 20px;
    }

    /* logo grande ao lado de content_login */
    .logo_login{
        max-width: 180px;
    }

    /* container de formulário principal do login*/
    .content_login{
        width: 100%;
        padding: 20px;
        min-height: auto;
    }

    /* deixar o titulo e span um pouco maiores */
    .title_login h2{
        font-size: 32px;
    }

    .title_login span{
        font-size: 14px;
    }

}