
@media (max-width: 767px){
    .toggle {
        display: block;
        margin-left: 215px;
        margin-top: 7px;
    }

    .padrao{
        grid-template-columns: 1fr;
    }

    
}

@media (min-width: 768px) and (max-width: 1023px){
    .toggle {
        display: block;
        margin-left: 215px;
        margin-top: 7px;
    }
}

@media (min-width: 1024px){
}
