.servico_linha_escura--p1 , .servico_linha_escura--p2 , .servico_linha_escura--p3 , .servico_linha_escura--p4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
}
.servico_linha_escura--p1 {
    margin-left: 12%;
}
.servico_linha_escura--p2 {
    margin-left: 18.4%;
}
.servico_linha_escura--p3 {
    margin-left: 15%;
}
.servico_linha_escura--p4 {
    margin-left: 19.5%;
  
}

.main_tabela_conteudo-1--span {
   margin-top: 20px;
}
.main_tabela_conteudo-1--p5{
  font-size: 10px;
}


.main_tabela_conteudo-1--p2_servico, .main_tabela_conteudo-1--p3_servico,.main_tabela_conteudo-1--img{
    margin-left: 13%;
}
.main_tabela_conteudo-1--p1_servico{
    margin-left: 50px;
}

.main_tabela_conteudo-2--p2_servico{
    margin-left: 25.7%;
}

.main_tabela_conteudo-3--p2_servico{
    margin-left: 16.6%;
}

.main_tabela_conteudo-4--p2_servico{
    margin-left: 17.5%;
}

.main_tabela_conteudo-5--p2_servico{
    margin-left: 18%;
}

.main_tabela_conteudo-6--p2_servico{
    margin-left: 15.3%;
}

.main_tabela_conteudo-7--p2_servico{
    margin-left: 14.9%;
}


.main_tabela_conteudo-1--span, .main_tabela_conteudo-2--span, .main_tabela_conteudo-3--span, .main_tabela_conteudo-4--span, .main_tabela_conteudo-5--span, .main_tabela_conteudo-6--span, .main_tabela_conteudo-7--span{ 
    margin-left: -15px;
}

